:root {
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-default);
}

:root {
  --primaryBgColor: #272121;
  --secondaryBgColor: #f7f7f9;
  --ternaryBgColor: #f4f4f4;
  --forteryBgColor: #f0f3f8;
  --boxShadowColor: rgba(0, 0, 0, 0.1);
  --primaryTextColor: #000000eb;
  --LinkColor: #00000099;
  --LinkHoverColor: #000000e3;
  --primaryHeadingColor: #151515;
  --secondaryHeadingColor: #444444;
  --primaryParagraphColor: #555555;
  --secondaryParagraphColor: #444444;

  --cardBgColor: #f7f7f9;
  --skeletonBaseColor: #efefef;
  --skeletonHighlightColor: #dddddd;

  --sectionTitleColor: #0b5ed7;
  --secondaryHoverColor: #000;
  --primaryBtnBgColor: #0b5ed7;
  --primaryBtnTextColor: #ffffff;
  --primaryBtnBgHoverColor: #24a2dc;
}

[data-theme="dark"] {
  --primaryBgColor: #000;
  --secondaryBgColor: #121212;
  --ternaryBgColor: #151515;
  --forteryBgColor: #191818;
  --boxShadowColor: rgba(47 45 46 / 64%);
  --primaryTextColor: #f0f0f0;
  --LinkColor: #b1b1b1;
  --LinkHoverColor: #f0f0f0;

  --primaryHeadingColor: #e6e6e6;
  --cardBgColor: #0e0e0e;
  --skeletonBaseColor: #1f1f1f;
  --skeletonHighlightColor: #4a4a4a;

  --secondaryHeadingColor: #cdcdcd;
  --primaryParagraphColor: #dbdbdb;
  --secondaryParagraphColor: #b8b8b8;
  --sectionTitleColor: #0b5ed7;
  --secondaryHoverColor: #000;
  --primaryBtnBgColor: #0b5ed7;
  --primaryBtnTextColor: #ffffff;
  --primaryBtnBgHoverColor: #24a2dc;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547;
    background-color: #ffffff; */
  }
}

/*Adjust the media queries where layou begins to fail.*/
@media screen and (max-width: 561px) {
  /* section {

  } */
}
